.main {
    padding: revert;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../../public/images/auth/cloud.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #1a1a1b;
}
